html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-color: #f1f2f2;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
}

h2, h3, h4, h5, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT-Sans', sans-serif;
}

h3, h4 {
    font-size: 25px;
    line-height: 25px;
}

h2 {
    font-size: 52px;
    line-height: 42px;
}

h2 i {
    font-size: 37px;
}

#top {
    width: 100%;
    height: 1000px;
    background-image: url('../images/top-background2.png');
    color: #ffffff;
    line-height: normal;
}

#nav {
    padding: 30px 0 0 0;
    margin: 0 auto;
    width: 1178px;
}

#header {
    width: 1178px;
    margin: 127px auto 0 auto;
}

#header p {
    font-size: 18px;
    line-height: 25px;
}

#icons {
    float: right;
    padding-top: 11px;
}

.facebook-icon {
    margin-left: 31px;
}

.twitter-icon {
    margin-left: 11px;
}

.instagram-icon {
    margin-left: 10px;
}

.youtube-icon {
    margin-left: 9px;
}

.linkedin-icon {
    margin-left: 12px;
}

.header-text {
    width: 285px;
    padding-top: 43px;
    float: left;
    margin: 0 93px 0 30px;
}

.video {
    display: block;
    font-size: 0;
}

#carousel {
    margin-top: 150px;
}

    #carousel img {
        width: 380px;
    }

    #carousel div {
        float: left;
    }

.border-image {
    margin: 0 0 0 409px;
    padding: 0 0 0 0;
}

#opportunity {
    background-image: url('../images/opportunity-background.png');
    height: 88px;
    margin-top: 19px;
    color: #ffffff;
    font-weight: bold;
}

.opportunity-text {
    text-align: center;
    padding-top: 32px;
}

.clearfix {
    overflow: auto;
}

#form {
    margin-top: 63px;
    margin: 63px auto 70px auto;
    width: 1178px;
}

h3 {
    display: inline-block;
    margin-right: 5px;
}

h4 {
    color: #0078bd;
    display: inline-block;
}

p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
}

#footer {
    background-color: #042d52;
    height: 84px;
}

input[type="text"] {
    background-color: #09619d;
    color: #ffffff;
    border: none;
    border-color: transparent;
    width: 319px;
    height: 35px;
    margin: 0 12px 13px 0;
    float: left;
}

select {
    background-color: #09619d;
    width: 651px;
    margin: 0 12px 13px 0;
    height: 38px;
    border: none;
    border-color: transparent;
    color: #ffffff;
    padding-left: 14px;
    font-size: 16px;
    line-height: 12px;
}

option {
    color: #ffffff;
    font-size: 16px;
    line-height: 12px;
    padding-left: 14px;
    background-color: #09619d;
}

input::placeholder {
    color: #ffffff;
    font-size: 16px;
    line-height: 12px;
    padding-left: 14px;
}

#form-inputs {
    margin-top: 30px;
}

.left-inputs {
    width: 665px;
    display: inline-block;
}

.right-inputs {
    float: right;
}

textarea {
    border: none;
    border-color: transparent;
    width: 478px;
    height: 134px;
    resize: none;
    font-family: 'PT-Sans', sans-serif;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 12px;
}

    textarea::placeholder {
        color: #0b1c3e;
        font-size: 16px;
        line-height: 12px;
    }

button {
    border: none;
    border-color: transparent;
    background-color: #ffffff;
    height: 38px;
    width: 100%;
    float: right;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
    padding-right: 19px;
    font-size: 16px;
    line-height: 12px;
}

#employees-wrapper {
    border-top: 1px solid #cdcdcd;
    width: 100%
}

#employees {
    width: 1178px;
    margin: 48px auto 112px auto;
}

#employees h5 {
    color: #939598;
    font-size: 27px;
    text-align: center;
}

p.employee-header-text {
    color: #231f20;
    text-align: center;
    font-size: 19px;
    margin-bottom: 51px;
}

.employee {
    width: 227px;
    margin-right: 5px;
    display: inline-block;
    position: relative;

}

.employee-info {
}

.employee-quote {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #127bbf;
    z-index: 10;
    opacity: 0.9;
}

.employee-quote p {
    line-height: 35px;
    font-size: 18px;
    color: #ffffff;
    padding: 45px 22px 0 29px;
}

#employees .last {
    margin-right: 0;
}

.employee img {
    display: block;
}

.employee-text {
    background-color: #ffffff;
    width: 227px;
    height: 173px;
}

.employee-name {
    font-size: 20px;
    color: #939598;
    font-weight: bold;
    padding: 20px 0 0 21px;
    display: inline-block;
}

.employee-text p {
    padding: 15px 0 0 21px;
    margin: 0 !important;
    font-size: 15px;
    line-height: 25px;
}

.employee-text br {
    margin: 15px 0;
    display: block;
}

#calls-to-action {
    width: 1178px;
    margin: 0 auto 74px auto;
    color: #ffffff;
}

.call-to-action {
    width: 566px;
    height: 448px;
    background-color: #127bbf;
    display: inline-block;
}

.call-to-action .header {
    height: 173px;
}

    .dark .header {
        background-color: #094c7b;
    }

    .light .header {
        background-color: #0f6daa;
    }

.call-to-action .header img {
    padding: 53px 40px 0 0;
    float: right;
}

.call-to-action .body p {
    float: left;
    padding: 28px 65px 0 49px;
    font-size: 15px;
    margin: 0 !important;
}

#calls-to-action .first {
    margin-right: 40px;
}

#calls-to-action h5 {
    font-size: 25px;
    line-height: 25px;
    display: inline;
    float: left;
    padding: 58px 0 0 51px;
}

.call-to-action button {
    width: 263px;
    height: 43px;
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    float: left;
    padding: 0;
    margin: 0 0 35px 150px;
}

.dark button {
    background-color: #094c7b;
}

.light button {
    background-color: #0f6daa;
}

/*Test*/
#container {
    width: 100px;
    height: 100px;
    position: relative;
}
#navi,
#infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#infoi {
    z-index: 10;
}